<div style="margin-left: 3%;max-width: 1500px;">

  <div class="row all_div">
    <div class="col-1"></div>
    <input type="text" [(ngModel)]="condition_quick_search" class="col-2">
    <div class="col-1"></div>
    <button class="col-2" (click)="quickClick()">Query Search</button>
    <div class="col-1"></div>
    <button class="col-2" (click)="search()">Search</button>
  </div>
  <div class="row all_div">
    <div class="col-6">
      <div class="row">
        <label class="col-2 handle-text" title="Agency Name">Agency Name</label>
        <input type="text" [(ngModel)]="condition_agency_name" class=" col-4">
        <label class="col-2">State</label>
        <select class="col-4" [(ngModel)]="condition_state_id">
          <option *ngFor="let state of states" [value]="state.id_state">{{state.state_name}}</option>
        </select>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-3">

          <label class="handle-text" title="PREFERRED PARTNE"><input type="checkbox"
              (change)="changePartne($event)">PREFERRED PARTNE</label>
        </div>
        <select class=" col-3" [attr.disabled]="checked_partne?'':null"></select>
        <label class="col-2">Year</label>
        <select class=" col-4" [attr.disabled]="checked_partne?'':null"></select>
      </div>
    </div>
  </div>
  <div class="row all_div">
    <div class="col-3"></div>
    <div class="col-3">
      <div class="row">
        <label class="col-4 handle-text" title="Zip">Zip</label>
        <input type="text" [(ngModel)]="condition_zip" class="col-8">
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-6">
          <label class="handle-text" title="Date Created"><input type="checkbox"
              (change)="changeDateCreated($event)">Date Created</label>
        </div>
        <input type="text" id="date_begin" [attr.disabled]="checked_datecreated?'':null" class="col-6">
      </div>

    </div>
    <div class="col-3">
      <div class="row">
        <label class="col-4">To</label>
        <input type="text" id="date_end" [attr.disabled]="checked_datecreated?'':null" class="col-8">
      </div>
    </div>
  </div>
  <div class="row all_div">
    <div class="col-3">
      <div class="row">
        <label class="col-4">DBA</label>
        <input type="text" class="col-8">
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <label class="col-4">City</label>
        <input type="text" class="col-8">
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-6">
          <label class="handle-text"><input type="checkbox">Type of Entity</label>
        </div>
        <select class="col-6"></select>
      </div>
    </div>
  </div>
  <div class="row all_div">
    <div class="col-3">
      <div class="row">
        <label class="col-4">Status</label>
        <select class="col-8"></select>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <label class="col-4">Country</label>
        <select class="col-8" [(ngModel)]="condition_country_id" (change)="countrychange()">
          <option *ngFor="let country of countries" [value]="country.id_country">{{country.country_name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row all_div">
    <div class="col-3">
      <div class="row">
        <label class="col-8">Preminum Finance</label>
        <select class="col-4" [(ngModel)]="condition_has_pf">
          <option selected>All</option>
          <option value="1">Yes</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <label class="col-4">Address</label>
        <input type="text" class="col-8">
      </div>
    </div>
  </div>
  <div class="row all_div">
    <div class="col-3">
      <div class="row">
        <label class="col-8">Rate Table</label>
        <select class="col-4" [(ngModel)]="condition_rate_id">
          <option *ngIf="let rate of rates" [value]="rate.id_ratetable">{{rate.ratetable_name}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row all_div">
    <div class="col-12">
      <div class="table-div">
        <table class="table" id="agency_table" style="width:3000px">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Agency Name</th>
              <th scope="col">Preminum Finance</th>
              <th scope="col">Rate Table</th>
              <th scope="col">DBA</th>
              <th scope="col">WebSite</th>
              <th scope="col">Agency Phone</th>
              <th scope="col">PARTNER</th>
              <th scope="col">Agency ID</th>
              <th scope="col">Master</th>
              <th scope="col">Type of Entity</th>
              <th scope="col">Sub Type</th>
              <th scope="col">Address</th>
              <th scope="col">City</th>
              <th scope="col">Country</th>
              <th scope="col">State</th>
              <th scope="col">Zip</th>
              <th scope="col">Status</th>
              <th scope="col">Date Created</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of rows">
              <td scope="row">{{row.AgencyName}}</td>
              <td scope="row" class="preminum">{{row.PreminumFinance}}</td>
              <td scope="row">{{row.RateTable}}</td>
              <td scope="row">{{row.DBA}}</td>
              <td scope="row">{{row.WebSite}}</td>
              <td scope="row">{{row.AgencyPhone}}</td>
              <td scope="row">{{row.PARTNER}}</td>
              <td scope="row">{{row.AgencyID}}</td>
              <td scope="row">{{row.MASTER}}</td>
              <td scope="row">{{row.TypeOfEntity}}</td>
              <td scope="row">{{row.SubType}}</td>
              <td scope="row">{{row.Address}}</td>
              <td scope="row">{{row.City}}</td>
              <td scope="row">{{row.Country}}</td>
              <td scope="row">{{row.State}}</td>
              <td scope="row">{{row.Zip}}</td>
              <td scope="row">{{row.STATUS}}</td>
              <td scope="row">{{row.DateCreated}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="padding:5px">
        <div class="div-page" *ngFor="let item of indexArr"><a>{{item}}</a></div>

        <select (change)="changePage($event)" [(ngModel)]="pageCount" class="div-page" style="width:50px">
          <option *ngFor="let item of pageArr" [value]="item">{{item}}</option>
        </select>
      </div>
    </div>
  </div>

</div>