.ngx-datatable.material {
  max-height: 300px !important;
  max-width: 100% !important;
  /* overflow-x: scroll !important;
  overflow-y: scroll !important; */
}

.all_div {
  padding: 3px 3px;
}

.handle-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-div {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 300px;
}

.div-page {
  width: 30px;
  height: 30px;
  background-color: white;
  float: left;
  margin-left: 10px;
  text-align: center;
  line-height: 30px;
  border:1px solid #cec8c8;
  border-radius: 2px;
}
