<div class="row">
  <!-- <div *ngFor="let version of versions">
    <label>Version{{version.ord}}</label>
  </div> -->
  <tabset>
    <tab *ngFor="let version of versions" heading="Version{{version.ord}}" (selectTab)="changeTab(version.id_version)">
    </tab>
  </tabset>
</div>
<div class="row">
  <label>Eff Date</label> <input type="text" id="eff_date" #eff_date />
</div>
<div class="row">
  <div class="col-12">
    <tabset>
      <tab heading="State">
        <app-states [states]="states"></app-states>
      </tab>
      <tab heading="Agency" (selectTab)="changeAgency()">
        <app-agencies  [versionId]="versionId"></app-agencies>
      </tab>
      <tab heading="Unit,Division,LOB">
        <app-unit-tree [versionId]="versionId" [units]="units"></app-unit-tree>
      </tab>
      <tab heading="Market Payable" (selectTab)="changeMP()">
        <app-markets [versionId]="versionId"></app-markets>
      </tab>
    </tabset>
  </div>
  <div hidden>
    <input type="text" #hidVal id='id_hidVal'>
  </div>

</div>